Repository kuznia-rdzeni/coreblocks, pull requests merged in 2023-02, with the labels that each got.

#194 Zbs
  coreblocks/frontend/decoder.py
  coreblocks/fu/zbs.py
  coreblocks/params/isa.py
  pyrightconfig.json
  test/fu/test_zbs.py
Labels: enhancement

#225 Kwargs in method calls
  coreblocks/frontend/fetch.py
  coreblocks/fu/alu.py
  coreblocks/fu/jumpbranch.py
  coreblocks/fu/mul_unit.py
  coreblocks/fu/unsigned_multiplication/fast_recursive.py
  coreblocks/fu/unsigned_multiplication/sequence.py
  coreblocks/fu/zbs.py
  coreblocks/stages/backend.py
  coreblocks/stages/retirement.py
  coreblocks/transactions/core.py
  coreblocks/transactions/lib.py
Labels: transactions, refactor

#226 Remove int layout from docstrings
  coreblocks/transactions/core.py
Labels: documentation, transactions

#227 Make Collector a method combinator
  coreblocks/core.py
  coreblocks/stages/rs_func_block.py
  coreblocks/transactions/lib.py
Labels: refactor

#222 Use assign in transaction core
  coreblocks/frontend/fetch.py
  coreblocks/fu/unsigned_multiplication/fast_recursive.py
  coreblocks/lsu/dummyLsu.py
  coreblocks/transactions/core.py
  coreblocks/transactions/lib.py
  coreblocks/utils/utils.py
  test/transactions/test_assign.py
  test/transactions/test_methods.py
  test/transactions/test_transaction_lib.py
Labels: transactions, refactor

#229 Avoid duplicating IDs in graphs
  coreblocks/transactions/graph.py
Labels: bug

#233 Mention `assign` in problem checklist
  docs/Problem-checklist.md
Labels: documentation

#212 Argument syntax for def_method
  coreblocks/frontend/fetch.py
  coreblocks/fu/alu.py
  coreblocks/fu/jumpbranch.py
  coreblocks/fu/mul_unit.py
  coreblocks/lsu/dummyLsu.py
  coreblocks/structs_common/rat.py
  coreblocks/structs_common/rf.py
  coreblocks/structs_common/rob.py
  coreblocks/structs_common/rs.py
  coreblocks/transactions/core.py
  coreblocks/transactions/lib.py
  coreblocks/utils/fifo.py
  test/transactions/test_methods.py
  test/transactions/test_transaction_lib.py
  test/transactions/test_transactions.py
Labels: transactions, refactor
